.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/ssh2/**
!node_modules/asn1/**
!node_modules/bcrypt-pbkdf/**
!node_modules/safer-buffer/**
!node_modules/tweetnacl/**
!node_modules/cpu-features/**
!node_modules/buildcheck/**
!node_modules/nan/**
